/* button logout */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: rgb(250, 250, 250);
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}


/* в header подсветка */
.nav-link {
    position: relative;
    /* Для позиционирования псевдоэлемента */
    color: #f8f9fa;
    /* Цвет текста */
    text-decoration: none;
    /* Убираем стандартное подчеркивание */
}

.nav-link.active {
    font-weight: 500;
    transform: translateY(-3px);
    /* "Выдвигает" элемент вверх при наведении */
    /* Полужирный шрифт для активации */
}

.nav-link.active::after {
    content: '';
    /* Создаем пустое содержимое */
    position: absolute;
    /* Позиционируем относительно ссылки */
    left: 0;
    /* Выравнивание по левому краю */
    bottom: -2px;
    /* Немного ниже текста для подчеркивания */
    height: 2px;
    /* Высота подчеркивания */
    width: 100%;
    /* Ширина подчеркивания */
    background-color: #ffcc01;
    /* Цвет подчеркивания */
    transition: width 0.3s;
    /* Плавный переход для анимации */
}

body {
    background-color: #f5f6fa;

}

/* заголовок над формой резюме */


/* 
Форма резюме */
.resume-form {
    max-width: 750px;
    /* Максимальная ширина формы */
    margin: 50px auto;
    /* Центрирование формы на странице с отступом сверху */
    padding: 30px;
    /* Внутренние отступы формы */
    border: none;
    /* Убрать границу */
    border-radius: 10px;
    /* Закругленные углы */
    background-color: #ffffff;
    /* Белый фон */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* Легкая тень для объема */
    display: flex;
    /* Flex-контейнер для вертикального расположения элементов */
    flex-direction: column;
    /* Вертикальное расположение элементов */
    transition: transform 0.2s;
    /* Плавный переход при изменении размеров */
}


.form-label {
    font-weight: 600;
    /* Жирный текст для меток */
    color: #2c3e50;
    /* Темный цвет текста для контраста */
    font-size: 1.1rem;
    /* Увеличенный размер шрифта для меток */
    margin-bottom: 8px;
    /* Отступ снизу для меток */
}

.form-control {
    width: 100%;
    /* Полная ширина для полей ввода */
    padding: 12px;
    /* Внутренний отступ в полях ввода */
    border: 1px solid #dcdcdc;
    /* Цвет границы полей ввода */
    border-radius: 5px;
    /* Закругленные углы полей ввода */
    transition: border-color 0.2s, box-shadow 0.2s;
    /* Плавный переход для цвета границы и тени */
}

.form-control:focus {
    border-color: #34dbca;
    /* Цвет границы при фокусе */
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
    /* Тень при фокусе */
    outline: none;
    /* Убрать стандартный контур */
}

.btn {
    padding: 12px;
    /* Внутренние отступы для кнопки */
    border: none;
    /* Убрать стандартные границы */
    border-radius: 5px;
    /* Закругленные углы кнопки */
    color: #ffffff;
    /* Белый цвет текста на кнопке */
    background-color: #3498db;
    /* Синий цвет кнопки */
    cursor: pointer;
    /* Указатель при наведении на кнопку */
    font-weight: 600;
    /* Жирный текст для кнопки */
    transition: background-color 0.3s, transform 0.3s;
    /* Плавный переход для фона и трансформации */
    font-size: 1rem;
    /* Размер шрифта для кнопки */
}

.btn:hover {
    background-color: #2980b9;
    /* Более темный цвет при наведении */
}

.btn:active {
    transform: scale(0.95);
    /* Эффект сжатия при нажатии */
}

.alert {
    margin-top: 20px;
    /* Отступ сверху для сообщений об ошибках */
    border-radius: 5px;
    /* Закругленные углы для сообщения об ошибке */
    padding: 15px;
    /* Внутренние отступы для сообщения об ошибке */
}

.alert-danger {
    background-color: #f8d7da;
    /* Цвет фона для сообщений об ошибках */
    color: #721c24;
    /* Цвет текста для сообщений об ошибках */
    border: 1px solid #f5c6cb;
    /* Граница для сообщения об ошибке */
}

/* 
карточка добавления резюме при просмотре резюме */
.create-resume-card {
    border: 2px dashed #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button delete */
.button {
    position: relative;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(35px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
}

.button:hover {
    background: #cc0000;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active .button__icon {
    background-color: #b20000;
}

.button:active {
    border: 1px solid #b20000;
}












